<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/dashboard.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]>
    <script src="/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Help</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search...">
            </form>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                {foreach name='projects' item='vo'}
                <li><a href="/index.php/admin/index/show/project_id/{$vo.project_id}">{$vo.project_name}</a></li>
                {/foreach}
            </ul>
            <!--<ul class="nav nav-sidebar">
                <li><a href="">Nav item</a></li>
                <li><a href="">Nav item again</a></li>
                <li><a href="">One more nav</a></li>
                <li><a href="">Another nav item</a></li>
                <li><a href="">More navigation</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><a href="">Nav item again</a></li>
                <li><a href="">One more nav</a></li>
                <li><a href="">Another nav item</a></li>
            </ul>-->
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <!--<h1 class="page-header">Dashboard</h1>

            <div class="row placeholders">
                <div class="col-xs-6 col-sm-3 placeholder">
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                    <h4>Label</h4>
                    <span class="text-muted">Something else</span>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                    <h4>Label</h4>
                    <span class="text-muted">Something else</span>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                    <h4>Label</h4>
                    <span class="text-muted">Something else</span>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                    <h4>Label</h4>
                    <span class="text-muted">Something else</span>
                </div>
            </div>-->


            <h2 class="sub-header">{$app_name}</h2>
            {foreach name='$app_names' item='v'}
            <form class="form-inline">
                <div class="form-group">
                    <label>ProjectName</label>
                    <input type="text" name="project_name" value="{$app_name}" class="form-control"
                           placeholder="project_name">
                    <input type="hidden" name="id" value="{$v.id}">
                </div>
                <div class="app1">
                    <div class="form-group">
                        <label>appOne</label>
                        <input type="text" name="app_one" value="{$v.app_one}" class="form-control"
                               placeholder="AppName">
                    </div>
                    <div class="form-group">
                        <label>valueOne</label>
                        <input type="text" name="value_one" value="{$v.value_one}" class="form-control"
                               placeholder="Value">
                    </div>
                    <div class="form-group">
                        <label>appTwo</label>
                        <input type="text" name="app_two" value="{$v.app_two}" class="form-control"
                               placeholder="AppName">
                    </div>
                    <div class="form-group">
                        <label>valueTwo</label>
                        <input type="text" name="value_two" value="{$v.value_two}" class="form-control"
                               placeholder="Value">
                    </div>
                    <div class="form-group">
                        <label>appThree</label>
                        <input type="text" name="app_three" value="{$v.app_three}" class="form-control"
                               placeholder="AppName">
                    </div>
                    <div class="form-group">
                        <label>valueThree</label>
                        <input type="text" name="value_three" value="{$v.value_three}" class="form-control"
                               placeholder="Value">
                    </div>
                    <button style="float: right" class="btn btn-default add">+</button>
                </div>
                {/foreach}
            </form>
            <div>
                <button id="submit" class="btn btn-primary btn-lg btn-block">确认提交</button>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/js/vendor/jquery.min.js"><\/script>')</script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script src="/js/holder.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/js/ie10-viewport-bug-workaround.js"></script>
<script>
    var app_num = 1;
    $('.add').click(function () {
        app_num++;
        var new_div = $('.app1').clone();
        new_div.attr('class', 'app' + app_num);
        new_div.children('button').attr('class', 'btn btn-default del')
        new_div.children('button').attr('onclick', 'del(this)')
        new_div.children('button').text('-')
        $('.form-inline').append(new_div);
        return false;
    })
    function del(obj) {
        $(obj).parent().remove();
    }
    $("#submit").click(function () {
        var stock = '';
        $("input[name='project_name'],input[name='id'],input[name='app_one'],input[name='value_one'],input[name='app_two'],input[name='value_two'],input[name='app_three'],input[name='value_three']").each(function () {
            stock = stock + '|' + $(this).attr('name') + '^' + $(this).val();
        });
        var data = {
            project_id: {$project_id},
            str: stock,
        };
//        alert(stock)
        $.ajax({
            type: 'post',
            url: '/index.php/admin/index/update',
            data: data,
            cache: false,
//            dataType: 'json',
            success: function (data) {
                alert(JSON.stringify(data))
            }
        });
    });

</script>
</body>
</html>
